.Addmain {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
    flex-direction: column;

    .Addbtn {
        background: #7043a9;
        padding: 10px;
        border-radius: 6px;
        font-weight: 800;
        color: #fbfcf8;
        width: 20%;
    }
    
    .box {
        color: #7043a9;
        size: 2cm;
    }
    
    .form {
        background-color: #fbfcf8;
        padding: 7px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        border-radius: 8px;
        .Inptitle {
            background-color: #fbfcf8;
            width: 37%;
            border-radius: 9px;
            padding: 9px;
        }
        .Inpdesc {
            background-color: #fbfcf8;
            width: 37%;
            border-radius: 9px;
            padding: 9px;
        }
        .Submit {
            background: #7043a9;
            padding: 2px;
            border-radius: 6px;
            font-weight: 800;
            color: #fbfcf8;
            width: 10%;
            height: 80%;
            margin-left: 10px;
            margin-top: 5px;
            // align-items: center;
            // justify-content: center;
        }
    }
}
