.di {
    background:#fbfcf8;
    // background-color: red;
    padding: 4px;
    width: 80%;
    margin: auto;
    border-radius: 8px;
    .li {
        background: #fbfcf8;
        display:flex;
        justify-content:space-between;
        border-radius:20px;
        // border-bottom-left-radius: 0px;
        // border-bottom-right-radius: 0px;
        // margin: 5px;
        // gap: 15px;
        margin-bottom: 5px;
        margin-top: 5px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-width: 1px;
        border-color:rgb(174, 174, 174);
        margin-left: 9px;
        margin-right: 9px;

        
        .checkbox{
            //   width: 30px;
            //   height: 30px;
            //   margin-top: 15px ;
            //   margin-right: 15px;
            //   accent-color:#7043a9;
        //   border-radius: 50%;
        // background-color: yellow;
        margin: 9px 0px 9px 9px;
        font-size:23px;
        font-weight: 500;
        }
        }
        .contentcontainer{
            display: flex;
            flex: 1;
            // background-color: orangered;
        }
        .container {
            
            .tittle {
                font-size:23px;
                font-weight: 500;
            }
            .desc {
                font-size: normal;
                font-weight: normal;
            }
            .date {
                font-size: x-small;
            }
        }
        .dropdown{
            // background-color: red;
            margin-top: 5px;
            .btn{
                align-self: center;
                

            }
        }
        :hover{
            background-color: rgb(249, 215, 250);
        }
        
        .footer{
            display: flex;
            justify-content: space-between;
            // margin-left: 10px;
            // margin-right: 10px;
            margin: 15px;
            color: rgb(73, 72, 72);
            font-weight: 600;
            
            .pagination{
                display: flex;
                gap: 1cm;
            }
        }
    }

    
