

// :export {
//   primaryColor: $primary-color;
//   font-size: xx-large;
// }
.main {
    background: #fbfcf8;
    // width: 80%;
}
.heading {
    color: #7444b498;
    font-size: 25mm;
    padding-top: 5px;
    font-weight: 900;
    text-align: center;
}
.div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img {
    border-radius: 7%;
    margin: 7px;
    width: 2.5cm;
    height: 2.5cm;
}

.Addbtn {
    background: #7043a9;
    padding: 10px;
    border-radius: 6px;
    font-weight: 800;
    color: #fbfcf8;
    width: 20%;
}

.box {
    // background-color:#e4e3e3;
    color: #7043a9;
    size: 2cm;
}
